<!-- views/partials/banner.ejs -->
<div class="max-w-screen-2xl container flex flex-col md:flex-row my-10" style="margin-top: 40px;">
    <div class="order-1 w-full md:w-1/2 md:mt-12 md:ml-12 center-div" style="padding-left: 91px;">
      <div class="space-y-8">
        <h1 class="banner-tagline">
          Secure Your Academic Files: <br> <span style="color: rgb(0, 255, 47);">Easy Upload and Access.</span>
        </h1>
        <p class="banner-description" style="font-size: 1.2rem; color: rgb(255, 242, 0);">
          Welcome to StudyVault, the ultimate digital hub for students. Our platform allows you to upload, store, and access your academic files effortlessly. Whether it's lecture notes, assignments, or important documents, you can keep everything organized in one secure place. No more searching through endless folders or losing track of important materials.


        </p>
        <!-- <button class="btn mt-6 btn-secondary">Get Started</button> -->
      </div>
    </div>
    <div class="order-2 w-full md:w-1/2 mt-20 md:mt-0 center-div">
      <img src="/images/logo.png" class="md:w-[50px] md:h-[60px] banner-image" alt="image banner" />
    </div>
  </div>
  